.container-master{
    background-color: #292C32;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0 2rem;
    padding-bottom: 2.5rem;
}
.container-read-qr{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    flex-direction: column;
}
.container-qr-reader{
    width: 35vh;
    height: 35vh;
    background-color: #0055ff;  
}
.container-text-qr{
    height: fit-content;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 3rem;
    letter-spacing: 1px;
}
.container-master-text-qr{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}
.container-master-acumular{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    transition: 0.2s;
    opacity: 1; 
}
.text-info-acumular{
    font-weight: 200;
    color: #e2e2e2;
    text-align: justify;
    font-size: 0.8rem;
}
.container-master-qr-reader{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-info-gas-station{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 3rem;
}
.container-info-icon-gas-station{
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
    color: #fff;
}
.hide-acumular{
    opacity: 0;
}