.container-local-store{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    grid-gap: 0.8rem;
    margin-top: 5.5vh;
    padding-top: 1.2rem;
}
.text-name-local-store{
    color: #fff;
    font-weight: 200;
}
.text-direction-local-store{
    color: #b3a362;
    font-size: 0.7rem;
    font-weight: 500;
}
.container-img-store{
    width: 4rem;
    height: 4rem;
    position: relative;
}
.img-local-store{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.separator-store{
    width: 100%;
    background-color: #4e535d;
    height: 0.0625rem;
    border: none;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}