.container-right-header{
    width: 100%;
    background-color: #3B3F4B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-master-header{
    display: grid;
    grid-template-columns: 15% 1fr;
    height: 6vh;
    width: 100%;
    position: relative;
}
.container-left-header{
    background-color: #E8CA4D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar-icon-header{
    font-size: 1.5rem;
}
.text-header-right{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
}
.header-fixed{
    position: fixed;
    width: 100%;
}
.container-full-menu{
    position: fixed;
    background-color: #22242B;
    width: 70%;
    height: 100vh;
    z-index: 500;
    padding-top: 1.5rem;
    padding-right: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -70%;
    transition: 0.2s;
}
.container-bars-full-menu{
    background-color: #E8CA4D;
    width: 2.5rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}
.bars-full-menu{
    font-size: 1.2rem;
}
.container-full-menu-bg{
    position: fixed;
    background-color: #272729c0;
    width: 100%;
    height: 100vh;
    z-index: 400;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}
.active-menu{
    left: 0%;
}
.active-menu-bg{
    opacity: 1;
}
.no-scroll{
    overflow: hidden;
}
.text-menu{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    letter-spacing: 1px;
    width: 100%;
}
.text-points-title{
    color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
}
.text-points{
    color: #08a8b1;
    font-size: 2rem;
    line-height: 1;
}
.points-container-menu-full{
    margin: 1rem 0;
    width: 100%;
}
.container-promotion-1style-full-bar{
    width: 85%;
    height: 6rem;
    position: relative;
    display: flex;
}
.container-img-1style-full-bar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.7rem;
}
.spacing-left-full-menu{
    padding-left: 1.5rem;
    width: 100%;
}
.figure-1style-full-bar{
    clip-path: polygon(50% 0, 105% 0%, 100% 100%, 25% 100%);
    background: rgb(235,235,235);
    background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(207,207,207,1) 100%);
    border-radius: 0.7rem;
    width: 100%;
    height: 100%;
    position: absolute;
}
.container-text-promotion-1style{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}
.text-promotion-1style{
    color: #000;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 1;
}
.container-master-text-1style{
    margin-right: 0.7rem;
    color: #000;
    font-size: 0.6875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.points-text-promotion-1style{
    font-weight: 600;
    color: #0e7a86;
}
.discount-text-1style{
    color: #636363;
    font-size: 0.6rem;
    font-weight: 500;
}
.container-master-promotions-full-bar{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    height: fit-content;
    width: 100%;
    justify-items: center;
}
.separator-full-menu{
    width: 80%;
    background-color: #e8ca4d;
    height: 0.0625rem;
    border: none;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}
.container-master-menu-options{
    width: 100%;
    padding-left: 1.5rem;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 2rem;
}
.text-menu-option{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
    letter-spacing: 1px;
    line-height: 1.4;
    transition: 0.3s;
}
.icon-menu-option{
    color: #dfdfdf;
}
.container-option{
    display: flex;
}
.container-icon-option{
    display: flex;
    width: 1.6rem;
}
.container-close-menu{
    height: fit-content;
}
.active-menu-full{
    color: #08a8b1;
}